<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends App</title>
</head>
<body>
<h2>Welcome to Friends App!</h2>

<h3>Please Sign In</h3>

<br>
<a class="btn btn-light" href="/users/register">Sign up</a>
<br><br>
<a class="btn btn-primary" href="/users/login">Sign in</a>
</body>
</html>